<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Configuração do Banco de Dados -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/clinix</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">triotwix123</property>

        <!-- Dialeto do PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <!-- Estratégia de atualização do schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Exibir as queries no console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Classes mapeadas -->
        <mapping class="org.example.entity.ProdutoEntity"/>

    </session-factory>
</hibernate-configuration>