<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sr05051420</property>
        -->
        <!--
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> 
        <property name="connection.driver_class">org.postgresql.Driver</property> 
        <property name="connection.username">postgres</property> 
        <property name="connection.password">martinazzo</property> 
        -->
        <!--
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> 
        <property name="connection.driver_class">org.postgresql.Driver</property> 
        <property name="connection.username">postgres</property> 
        <property name="connection.password">nevefofa</property> 
        -->
        <!--
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/clinix</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">triotwix123</property>
        -->

        <property name="connection.url">jdbc:postgresql://localhost:5432/clinix</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">nevefofa</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="org.example.model.entity.Usuario"/>
        <mapping class="org.example.model.entity.Relatorio"/>
        <mapping class="org.example.model.entity.Produto"/>
        <mapping class="org.example.model.entity.Paciente"/>
        <mapping class="org.example.model.entity.Endereco"/>
        <mapping class="org.example.model.entity.Medico"/>
        <mapping class="org.example.model.entity.Consulta"/>
        <mapping class="org.example.model.entity.Exame"/>
        <mapping class="org.example.model.entity.Prontuario"/>

    </session-factory>
</hibernate-configuration>