<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sr05051420</property>
        -->
        <!--
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> 
        <property name="connection.driver_class">org.postgresql.Driver</property> 
        <property name="connection.username">postgres</property> 
        <property name="connection.password">martinazzo</property> 
        -->
        <!--
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> 
        <property name="connection.driver_class">org.postgresql.Driver</property> 
        <property name="connection.username">postgres</property> 
        <property name="connection.password">nevefofa</property> 
        -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/clinix</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sr05051420</property>

        <!--
        <property name="connection.url">jdbc:postgresql://localhost:5432/clinix</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">nevefofa</property>
        -->
        <!-- Dialeto do PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <!-- Estratégia de atualização do schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
 
        <!-- Classes mapeadas -->
        <mapping class="org.example.Entity.UsuarioEntity"/>
        <mapping class="org.example.Entity.RelatorioEntity"/>
        <mapping class="org.example.Entity.ProdutoEntity"/>
        <mapping class="org.example.Entity.PacienteEntity"/>
        <mapping class="org.example.Entity.EnderecoEntity"/>
        <mapping class="org.example.Entity.MedicoEntity"/>
        <mapping class="org.example.Entity.ConsultaEntity"/>
        <mapping class="org.example.Entity.AmostrasLabEntity"/>

    </session-factory>
</hibernate-configuration>